
<div>


  <div class="container" style="display: flex;">
    <div class="left">
      <h2>E-congé  </h2>
      <img src="assets/login.jpg" alt="" class="image">
      <p><b> Gérez facilement les congés et absences de vos employés</b></p>
    </div>


    <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
      <fieldset>
        <h2 style="margin-bottom: 30px;">Connexion</h2>
        <div class="form-group">
          <b><label for="username" >Nom d'utilisateur</label></b><br>
          <input #username="ngModel" required type="text" name="username" class="form-control" [(ngModel)]="user.username">
          <div *ngIf="username.touched && username.invalid" class="alert alert-danger">Nom d'utilisateur non valide</div>
        </div>
        <br>
        <div class="form-group">
          <b><label for="pswrd">Mot de passe</label></b><br>
          <input #paswrd="ngModel" required type="password" name="pswrd" class="form-control" [(ngModel)]="user.password">
          <div *ngIf="paswrd.touched && paswrd.invalid" class="alert alert-danger">Mot de passe non valide</div>
        </div>

        <br>
        <button class="btn" style="color: white; background-color: #7066e0;" type="submit" [disabled]="!isValidUser()">Se connecter</button>
      </fieldset>
    </form>
  </div>

</div>
