
.marge{
  margin-left: 40px;
}
.E_M{
  margin: 10px;
  margin-left: 1250px;

}
.btn-warning{
  margin-left: 10px
}
.btn1{
  background-color: #7066e0;
  border-color: #7066e0;
}
.color{
  background-color:#cfccec;
  padding-bottom: 10px;
}
.recherche{
  margin-right: 10px;
  margin-left: 35px;
}
.mr1{
  margin-right: 15px;

}
.mr{
  margin-right: 50px;

}
.mb{
  margin-bottom: 10px;
}
