
<div style="display: flex; justify-content: center;">
  <full-calendar
    style="width: 780px; margin-top: 20px;"
    [options]="calendarOptions"
    [events]="[
      { title: 'Nouvel an', date: '2023-01-01' },
      { title: 'Manifeste de l’Indépendance' , date :'2023-01-11'},
      { title: 'Fête du travail' , date :'2023-05-01'},
      { title: 'Fête du Trône' , date :'2023-07-30'},
      { title: 'Libération de Oued Ed-Dahab' , date :'2023-08-14'},
      { title: 'La révolution du Roi et du Peuple' , date :'2023-08-20'},
      { title: 'Fête de la Jeunesse' , date :'2023-08-21'},
      { title: 'Marche verte' , date :'2023-11-06'},
      { title: 'Aïd Al Fitr' , date :'2023-04-21'},
      { title: 'Aïd Al Fitr' , date :'2023-04-22'},
      { title: 'Aid al Adha' , date :'2023-06-27'},
      { title: 'Aid al Adha' , date :'2023-06-28'},
      { title: '1er Moharram' , date :'2023-07-20'},
      { title: 'Aid al Mawlid Annabawi' , date :'2023-09-28'},
    ]">
  </full-calendar>
</div>
